/****** Base Syles ******/
body{
	font-family: "Times New Roman", Georgia, Serif;
}
header h1{
	margin: 0;
}
header .container{
	font-size: 6vw;
}
#navheader{
	font-size: 4vw;
	background-color: #999999;
	width: 100%;
	border-radius: 0;
	border: 0;
}
#navbar-header h1{
	margin-left: 2%;
}
.nav-model-item{
	background-color: #bbbbbb;
}
.nav-model-item hr, .container ul {
	margin: 0;
	font-size: 5vw;

}
.container .navbar-collapse{
	padding-right: 0;
	padding-left: 0;
}
.container .navbar-brand, .container .navbar-brand:hover {
	color: #000000;

}

.container .nav-menu-item{
	background-color: #999999;
	margin-bottom: 5%;
}

.section{
	box-sizing: border-box;
	border:1px solid black;
	position: relative;
	margin-bottom: 1.5%;
}
.section-title{
	text-align: center;
	font-size: 14pt;
	float: center;
	top:0;
	margin-bottom: 4px;
}
.section-text{
	font-size: 12pt;
	padding-left: 10px;
	padding-right: 10px;
	clear: both;
	text-align: center;
}

#collapsable-nav{
	text-align: center;
	clear: both;
}
